.app {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 200px);
  }

span{
    display: inline-block;
}

span select input { 
    display: block; 
    position: relative; 
    top: 3em; 
} 

span input { text-align:center;}
span label { 
    display: block; 
    position: relative; 
    top:0em;
    text-align: center;
} 
span button { 
    display: block; 
    position: relative; 
    top:0em;
    text-align: center;
} 
#MaterialTheme{
    width: fit-content;
}